.pill {
    background-color: #466365;

    flex-grow: 0;
    flex-shrink: 0;

    height: 50px;
    width: 100px;

    color: #F9F8F8;

    display: flex;

    align-items: center;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;

    font-family: monospace;

    border-radius: 5px;

    margin: 5px;
    user-select: none;
}

.pill-closeable {
    justify-content: space-around;
}

.close-button {
    width: 11px;
    height: 11px;

    margin-left: 5px;

    border-radius: 20px;
    background-color: #1c2829;
    border: 1px solid #1c2829;
}

.close-cross {
    position: relative;
    left: -11px;
    width: 32px;
    height: 32px;
}

.close-cross:before, .close-cross:after {
    position: absolute;
    /*left: 15px;*/
    content: ' ';
    height: 11px;
    width: 1px;
    background-color: #64898c;
}
.close-cross:before {
    transform: rotate(45deg);
}
.close-cross:after {
    transform: rotate(-45deg);
}