.App {
    max-width: 800px;
    margin: auto;
}

header {

}

main {
    display: flex;
    flex-flow: wrap;
    padding: 5px;
}

footer {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropzone {
    width: 100%;

    margin: 5px;

    display: flex;
    justify-content: left;
    align-items: center;

    background-color: #EB9486;

    height: 60px;

    border-radius: 5px;
    padding: 10px;

    border: 2px solid #b16f64;

    /* TODO: Remove this and make it global */
    font-family: monospace;
    z-index: 1;

    overflow: scroll;
}

.dropzone-empty {
    justify-content: center;
    color: white;
    font-size: x-large;
}

.templateString {
    font-size: x-large;
    text-align: center;
    padding: 5px;
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;
}

.pill-list {
    display: flex;
    overflow: scroll;
    height: 60px;
}